.w-skill {
    display: block;
    padding: 5px 5px;
}
.w-skill a{
    padding: 0;
    cursor: pointer;
}

.listski{
    display: block;
    position: relative;
}
.w-skillch > input {
    display: none;
}
.w-skillch {
    padding: 5px 10px;
    background: #51a5fb;
    display: inline-block;
    cursor: pointer;
}
.overview-open{
    float: right;
    clear: both;
}
.exp-bx-open-add{
    float: right;
    clear: both;
}
.infoExp-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.infoExp-title>h4{
    margin-bottom: 0;
}
.infoExp-content{
    margin-bottom: 1rem;
}
.user-profile-ov>a{
        float: right;
        clear: both;
}
